# ============================================================
# OpenWork Server — Environment Variables
# Copy this file to .env and fill in your values
# ============================================================
  
# Server
NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000
# MongoDB
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/openwork
  
# JWT
JWT_SECRET=
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
JWT_COOKIE_EXPIRE=7
  
# Email (Nodemailer — use Gmail App Password or SendGrid SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=<your-email>
SMTP_PASS=<your-app-password>
FROM_EMAIL=noreply@openwork.io
FROM_NAME=OpenWork
  
 # PayFast (Sandbox Mode)
PAYFAST_MERCHANT_ID=89-----
PAYFAST_MERCHANT_KEY=Mn-----
PAYFAST_PASSPHRASE=yu-------
SERVER_URL=http://your.com
FRONTEND_URL=http://your.com


# Stripe
STRIPE_SECRET_KEY=sk_test_.......
STRIPE_WEBHOOK_SECRET=whsec_.......
STRIPE_PRODUCT_SECRET_KEY=pk_test_.......
  
# Cloudinary (for file/image uploads)
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDNAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET
  
# AI + Payments + Integrations
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
PAYPAL_CLIENT_ID=YOUR_PAYPAL_CLIENT_ID
PAYPAL_CLIENT_SECRET=YOUR_PAYPAL_CLIENT_SECRET
# Firebase Admin SDK
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
FIREBASE_PRIVATE_KEY_ID=YOUR_PRIVATE_KEY_ID
FIREBASE_PRIVATE_KEY=YOUR_PRIVATE_KEY
FIREBASE_CLIENT_EMAIL=YOUR_CLIENT_EMAIL
FIREBASE_CLIENT_ID=YOUR_CLIENT_ID

PYTHON_AI_SERVICE_URL=https://salehmangrio114-openwork.hf.space/
TWO_FACTOR_APP_NAME=OpenWork
PYTHON_SKILL_TESTING_SERVICE_URL=https://salehmangrio114-openwork.hf.space

# GOOGLE CLINT ID
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
